.my_modal {
    z-index: 10;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    display: none;
    background: #0001;
}

.modal_content {
    padding: 10em 0;
    border-radius: .5em;
    width: min(62vh, 100vw);
    display: flex;
    background: #282c34;
    background: linear-gradient(145deg, #2b2f38, #24282f);
    box-shadow: .1em .1em .1em #14161a,
                -.1em -.1em .1em #3c424e;
}

.my_modal.active {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}