* {
	margin: 0;  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  font-size: calc(.05*min(62vh, 100vw));
}

body {
  --bg1-color: #282c34;
  --bg2-color: #282c44;
  --prm-color: #ffa500;
  /* --sec-color: #61dafb; */
  --sec-color: teal;
  --wht-color: whitesmoke;
  --delay-sec: .25s;
  
  background-color: var(--bg1-color);
  display: flex; align-items: center;  justify-content: center;
}

/* //////////// A P P ////////////// */
.Client {
  /* border: 1px solid red; */
  height: 100vh;
  width: min(62vh, 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: var(--bg1-color);
  color: var(--wht-color);
  border-radius: .5em;
}
/* //////////// HEADER ////////////// */
.Client-header {
  width: 100%;
  background-color: var(--bg1-color);

  color: var(--prm-color);
  padding: .125em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  border-bottom: .075em solid var(--prm-color);
  border-radius: .5em;
}
  .header-clock {
    font-size: .75em;
  }
/* //////////// NAVBAR ////////////// */
.Client-navbar {
  list-style-type: none;
  width: 100%;
  font-size: .85rem;
  margin: .25em;
  color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .25em;
  padding: .125em;
  padding-bottom: 0;
  /* --prm-color: teal;
  --sec-color: orange;
  overflow: hidden;
  margin-bottom: .25em; */
}
  .Client-navbar li {
    cursor: pointer;
    border: 1px solid teal;
    border-radius: .25em;
    width: 35%;
    text-align: center; 
    /* 
    background-color: #24282d;
    transition: .25s;
    border-bottom: .1em solid var(--prm-color);
    */
  }

/* //////////// OUTPUT ////////////// */
.Client-output {
  font-size: calc(.0475*min(62vh, 100vw));
  font-family: monospace;
  height: 100%;
  /* flex: 1 1 auto; */
  width: 100%;
  display: flex;
  padding: .25em;
  gap: .25em;
  overflow: hidden;
}
  .output-list {
    border-radius: .35em;
    box-shadow: 
        .1em .1em .1em #14161a,
        -.1em -.1em .1em #3c424e,
        inset .1em .1em .1em #14161a,
        inset -.1em -.1em .1em #3c424e;

      background-color: #24282f;
      background-color: #0882;
      background-image: linear-gradient(-45deg, #0881, #0881 50%, var(--bg1-color) 50%, var(--bg1-color));
      background-size: .2em .2em;

    width: 50%;
    height: 100%;

    padding: .25em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* justify-content: space-between; */
  }
  .list-header {
    width: 100%;
    text-align: center;
    margin-bottom: .125em;
    font-weight: bold;
    color: teal;
  }
  .list-guess {
    width: 59%;
    text-align: center;
  }
  .list-res {
    width: 41%;
    text-align: center;
  }
  .num-plates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .125em;
    padding: .125em 0;
  }
/* //////////// INPUT ////////////// */
.Client-input {
  background-color: var(--bg1-color);
  width: 100%;
  height: 45%;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border-top: .075em solid var(--prm-color); */
  border-radius: .5em;
}

.Client-input > * {
  font-size: 1rem;
}

.Client-input-4D {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: var(--bg1-color);
  width: 100%;
  /* height: 45%; */
  color: var(--wht-color);
  margin: .25em auto;
}

.input-car-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-button {
  cursor: pointer;
  width: calc(100% - 1em);
  padding: .25em; 
  border-radius: .25em;
  box-shadow: 
    .1em .1em .1em #14161a,
    -.1em -.1em .1em #3c424e;
  color: #0889;
  font-weight: bold;
  text-align: center;
  text-shadow: .05em .05em .05em #14161a,
              -.05em -.05em .05em #3c424e;
  transition: .25s;
}

.input-button:active {
  box-shadow: 
    inset .1em .1em .1em #14161a,
    inset -.1em -.1em .1em #3c424e;
}