* {
	margin: 0;  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(10px + 2vmin);
}

body {
	font-family: Arial, Helvetica, sans-serif;
  --bg1-color: #282c34;
  --bg2-color: #282c44;
  --prm-color: #ffa500;
  /* --sec-color: #61dafb; */
  --sec-color: teal;
  --wht-color: whitesmoke;
  --delay-sec: .25s;
  
  font-size: calc(10px + 2vmin);
  background-color: var(--bg1-color);
  display: flex; align-items: center;  justify-content: center;
}

/* //////////// A P P ////////////// */
.App {
  height: 100vh;
  width: min(62vh, 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: var(--bg1-color);
  color: var(--wht-color);
  border: 1px solid orange;
  border-radius: .5em;
}
/* //////////// HEADER ////////////// */
.App-header {
  width: 100%;
  background-color: var(--bg2-color);
  color: var(--prm-color);
  padding: .125em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  border-bottom: .075em solid var(--prm-color);
  border-radius: .5em;
}
  .header-clock {
    font-size: .75em;
    /* width: 20%; */
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
  }
/* //////////// NAVBAR ////////////// */
.App-navbar {
  list-style-type: none;
  width: 100%;
  font-size: .75rem;
  margin: .25em;
  color: teal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* --prm-color: teal;
  --sec-color: orange;
  overflow: hidden;
  margin-bottom: .25em; */
}
  .App-navbar li {
    cursor: pointer;
    border: 1px solid teal;
    border-radius: .5em;
    width: 35%;
    text-align: center; 
    /* 
    background-color: #24282d;
    transition: .25s;
    border-bottom: .1em solid var(--prm-color);
    */
  }

/* //////////// OUTPUT ////////////// */
.App-output {
  height: 100%;
  width: 100%;
  display: flex;
  padding: .25em;
  gap: .25em;
}
  .output-list {
    border: 1px solid orange;
    border-radius: .5em;
    width: 50%;
    height: 100%;
    font-size: .95rem;
    font-family: monospace;
    padding: .25em;
  }

/* //////////// INPUT ////////////// */
.App-input {
  background-color: var(--bg2-color);
  width: 100%;
  height: 45%;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: .075em solid var(--prm-color);
  border-radius: .5em;
}

.App-input > * {
  font-size: 1rem;
}