* {
	margin: 0;  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  font-size: calc(.05*min(62vh, 100vw));
}

body {
  user-select: none;
  -moz-user-select: none;
  --bg1-color: #282c34;
  --bg2-color: #282c44;
  --prm-color: #ffa500;
  --sec-color: teal;
  --wht-color: whitesmoke;
  --delay-sec: .25s;
  
  background-color: var(--bg1-color);
  display: flex; align-items: center;  justify-content: center;
}

/* //////////// A P P ////////////// */
.Client {
  height: 100vh;
  overflow: hidden;
  width: min(62vh, 100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background-color: var(--bg1-color);
  border-radius: .5em;
}
/* //////////// HEADER ////////////// */
.Client-header {
  width: calc(100% - .25em);
  margin-top: .125em;
  padding: .125em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  border-radius: .5em;
  color: var(--prm-color);
  background-color: #0882;
  background-image: linear-gradient(-45deg, #0881, #0881 50%, var(--bg1-color) 50%, var(--bg1-color));
  background-size: .2rem .2rem;
  box-shadow: 
      .1em .1em .1em #14161a,
      -.1em -.1em .1em #3c424e,
      inset .1em .1em .1em #14161a,
      inset -.1em -.1em .1em #3c424e;
}
  .header-clock {
    font-size: 1rem;
  }
/* //////////// NAVBAR ////////////// */
.Client-navbar {
  list-style-type: none;
  width: 100%;
  margin: .25em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .25em;
  padding: .125em;
  padding-bottom: 0;
}
  .Client-navbar li {
    cursor: pointer;
    border-radius: .25em;
    width: 35%;
    text-align: center;
    color: #00808099;
    box-shadow: 
        .1em .1em .1em #14161a,
        -.1em -.1em .1em #3c424e;
    background-color: #24282f;
    background-image: linear-gradient(-45deg, #24282f, #24282f 50%, #2b2f38 50%, #2b2f38);
    background-size: .2rem .2rem;
    text-shadow: .05em .05em .05em #14161a,
                -.05em -.05em .05em #3c424e;
    transition: color .25s;
  }
  .Client-navbar li:active {
    box-shadow: inset .1em .1em .1em #14161a,
                inset -.1em -.1em .1em #3c424e;
    font-size: 0.95em;
  }
  .Client-navbar li:hover { color: teal }

/* //////////// OUTPUT ////////////// */
.Client-output {
  font-size: calc(.0475*min(62vh, 100vw));
  font-family: monospace;
  color: #8cc;
  height: 100%;
  width: 100%;
  display: flex;
  padding: .25em;
  padding-top: .125em;
  gap: .25em;
  overflow: hidden;
  perspective: 100rem;
}
  .output-flip {
    position: relative;
    width: 50%;
    height: 100%;
    transition: transform .5s ease-in-out;
    transform-style: preserve-3d;
  }
  .output-flip.is-flipped { 
    transform: rotateY(180deg); 
  }
  .output-list {
    border-radius: .35em;
    box-shadow: 
        .1em .1em .1em #14161a,
        -.1em -.1em .1em #3c424e,
        inset .1em .1em .1em #14161a,
        inset -.1em -.1em .1em #3c424e;
    background-color: #24282f;
    background-color: #0882;
    background-image: linear-gradient(-45deg, #0881, #0881 50%, var(--bg1-color) 50%, var(--bg1-color));
    background-size: .2rem .2rem;
    width: 50%;
    height: 100%;
    padding: .25em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .output-list.opponent { 
    color: teal;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .list-header {
    width: 100%;
    text-align: center;
    margin-bottom: .125em;
    font-weight: bold;
    color: teal;
    color: #ffa500ee;
  }
  .list-guess {
    width: 59%;
    text-align: center;
  }
  .list-res {
    width: 41%;
    text-align: center;
  }
  .num-plates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .125em;
    padding: .125em 0;
  }
/* //////////// INPUT ////////////// */
.Client-input-4D {
  z-index: 1;
  background: var(--bg1-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .95em;
  width: 100%;
  padding: .25em;
  margin-bottom: .5em;
  transition: transform .75s ease-in-out;
}
.Client-input-4D.endgame { transform: translateY(105%); } 
.input-car-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-button {
  cursor: pointer;
  width: calc(100% - 1.6rem);
  padding: .125em; 
  border-radius: .25em;
  color: #0889;
  background-color: #24282f;
  background-image: linear-gradient(-45deg, #24282f, #24282f 50%, #2b2f38 50%, #2b2f38);
  background-size: .2rem .2rem;
  box-shadow: .1em .1em .1em #14161a,
              -.1em -.1em .1em #3c424e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: .05em .05em .05em #14161a,
              -.05em -.05em .05em #3c424e;
  transition: .25s;
}
.input-button:active:not(.disabled) {
  box-shadow: inset .1em .1em .1em #14161a,
              inset -.1em -.1em .1em #3c424e;
}
.input-button:hover:not(.disabled) { color: teal; }
.input-button > svg { 
  transition: .25s;
  font-size: 1.5em; transform: rotate(-90deg);
  filter: drop-shadow( -.05em -.05em .05em #14161a)
          drop-shadow( .05em .05em .05em #3c424e);
}
.input-button:active > svg { transform: rotate(-90deg) scale(.9);}
.input-button.disabled > svg { opacity: .25; }

@media (min-aspect-ratio: 50/90) {
  .Client-input-4D { flex-direction: row-reverse; gap: 1.25em; margin-bottom: .25em; }
  .input-car-block { justify-content: space-between; }
  .input-button { width: 2.5em; height: 100%; }
  .input-button > svg { transform: rotate(180deg); }
  .input-button:active > svg { transform: rotate(180deg) scale(.9); }
}

.congrat-text {
  position: absolute;
  bottom:0;
  left: calc(50vw - min(31vh, 50vw));
  height: 27.5vh;
  width: min(62vh, 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25em;
  font-size: 1.25em;
  color: orange;
}
/*////////////////////////////  DEV - CHeat-SHeet  */
.ch-sh-wrap {
  z-index: 20;
  position: fixed;
  top: 0;  left: 0;
  height: 100vh;
  width: calc(50vw - min(31vh, 50vw));
  border-radius: .25em;
  padding: .5em;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: .1em;
  /* background: teal; */
  color: wheat;
      /* overflow: hidden; */

      display: none;
}
  .ch-sh-wrap.right {
    left: auto; right: 0;
  }
  .ch-sh-header { display: flex; gap: .125em}

/*////////////////////////////////////////// CLENT CHEAT SHEET */
.cheat-sheet {
  border-radius: .35em;
  box-shadow: 
      .1em .1em .1em #14161a,
      -.1em -.1em .1em #3c424e,
      inset .1em .1em .1em #14161a,
      inset -.1em -.1em .1em #3c424e;
  background-color: #24282f;
  background-image: linear-gradient(-45deg, #24282f, #24282f 50%, #2b2f38 50%, #2b2f38);
  background-size: .2rem .2rem;
  width: 50%;
  height: 100%;
  padding: .25em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: .5em;
  backface-visibility: hidden;
  transform: rotateY( 180deg );
  position: absolute;
  height: 100%;
  width: 100%;
}
.cheat-sheet-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.table-plates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .25em;
  padding: .125em 0;
}

/* ///////////////////////// MISCELANOUS */

.secret-select-text {
  position: absolute;
  top:0; left:0;
  height: 40vh;
  width: min(62vh, 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
  font-size: 1em;
  font-weight: 900;
  color: #0889;
  font-family: monospace;
}
.secret-select-word {
  display: flex;
  gap: .25em;
}